/bin/
*.class
*/target/*
*/logs/*
*/log/*
*/.settings/*
/target/*
*/*jar-with-dependencies.jar
*.classpath
*.project
*/bin/*
/.idea
lib/*
*/*.classpath
*/*.project
/.metadata
/.recommenders


*.iml
/target
*/build
/.settings

**/config/template/*
